version: '2'
services:
  database:
    container_name: workshop-database
    environment:
      - MYSQL_ROOT_PASSWORD=workshop
    ports:
     - "9000:3306"
    image: "mariadb"
  init:
    container_name: workshop-init
    build: docker/moby-dick
    volumes:
     - ./apps/monolith:/code
    command: ["./bin/init.sh"]
  monolith:
    container_name: workshop-monolith
    build: docker/moby-dick
    ports:
     - "8000:80"
    volumes:
     - ./apps/monolith:/code
    depends_on:
      - database
      - init
      - recipe

  # ------------------
  # recipe
  # ------------------
  recipe-database:
    container_name: workshop-recipe-database
    environment:
      - MYSQL_ROOT_PASSWORD=workshop
    ports:
     - "9002:3306"
    image: "mariadb"
  recipe-init:
    container_name: workshop-recipe-init
    build: docker/moby-dick
    volumes:
     - ./apps/recipe:/code
    command: ["./bin/init.sh"]
  recipe:
    container_name: workshop-recipe
    build: docker/moby-dick
    ports:
     - "8002:80"
    volumes:
     - ./apps/recipe:/code
    depends_on:
      - recipe-database
      - recipe-init

  # ------------------
  # newsletter
  # ------------------
#  newsletter:
#    container_name: workshop-newsletter
#    build: docker/moby-dick
#    ports:
#     - "8003:80"
#    volumes:
#     - ./apps/newsletter:/code

#  varnish:
#    container_name: workshop-varnish
#    ports:
#     - "8000:80"
#    build: docker/varnish
#    depends_on:
#      - monolith
#      - newsletter
