{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Userprofil</h1>
    <h2>{{ user }}</h2>

    <div>
        {{ user.about|nl2br }}
    </div>

    {% if recipes|length %}
    <h3>Recipes</h3>
    <ul>
        {% for recipe in recipes %}
            <li><a href="{{ path('recipe', {'recipe': recipe.id}) }}">{{ recipe }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
